.root {
  .label {
    font-size: 14px;
    color: #212121;
    margin-bottom: 4px;
  }
  .input {
    border: solid 1px #bdc3c7;
    padding: 8px 8px;
    border-radius: 4px;
    background: #95a5a610;
    font-size: 14px;
    width: 100%;
  }
  .error {
    color: #e74c3c;
    font-size: 12px;
    font-weight: bold;
  }
}
