h3 {
  font-weight: 700;
}

.tabs {
  margin-top: 12px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;

  .tab {
    cursor: pointer;
    width: 50%;
    display: flex;
    font-weight: 500;
    justify-content: left;
    padding: 16px 0;
    position: relative;
    transition: background-color 0.2s ease-in-out;

    &:active {
      cursor: default;
    }

    .underline {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background: #000;
    }
  }
}

.content {
  min-height: 150px;
  user-select: none;
  margin-top: 12px;
  overflow-y: auto;
  max-width: 450px;
  height: 70vh;
  position: relative;
}

.rangeInput {
  margin-top: 12px;

  input {
    width: 100%;
    position: relative;
    &::after {
      content: "0";
      top: 18px;
      position: absolute;
      left: 0;
    }

    &::before {
      content: "2*Pi";
      top: 18px;
      position: absolute;
      right: 0;
    }
  }

  &.animation {
    input {
      &::after {
        content: "-4";
        top: 18px;
        position: absolute;
        left: 0;
      }

      &::before {
        content: "4";
        top: 18px;
        position: absolute;
        right: 0;
      }
    }
  }

  &.animationV3 {
    input {
      &::after {
        content: "0";
        top: 18px;
        position: absolute;
        left: 0;
      }

      &::before {
        content: "final";
        top: 18px;
        position: absolute;
        right: 0;
      }
    }
  }
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.time {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.btns {
  display: flex;
  font-size: 14px;
  gap: 6px;

  .btn {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 6px;

  .text {
    margin-top: 14px;
  }
}

.slider {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  &.hide {
    transform: scale(0.5);
    opacity: 0;
    width: 100%;
    position: absolute;
  }
}

.twoInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  margin-top: 12px;

  &.withMargin {
    margin-top: 12px;
  }

  &.withoutMargin {
    margin-top: 0;
  }
}

.threeInputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-top: 12px;

  &.withMargin {
    margin-top: 12px;
  }
}

.section {
  margin-top: 16px;
  border-top: solid 1px #21212120;
  padding-top: 12px;

  h4 {
    font-weight: bold;
    font-size: 14px;
  }

  .checkboxSection {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-top: 6px;
    input {
      margin-right: 4px;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  b {
    font-weight: bold;
  }
}

.pic {
  position: absolute;
  width: 800px;
  height: auto;
  left: 60px;
  opacity: 0.2;

  img {
    max-width: 100%;
  }
}

.curveWrapper {
  margin-top: 6px;
  border-bottom: solid 1px #21212120;
  padding-bottom: 12px;
  .curveBlock {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
